<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199212111356-o88ul66tseefrseq48uc2qhecd6nsfga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199212111356-o88ul66tseefrseq48uc2qhecd6nsfga</string>
	<key>API_KEY</key>
	<string>AIzaSyBmCUhHlkOB7UlaDgV9yysoOBOK0rHZHPw</string>
	<key>GCM_SENDER_ID</key>
	<string>199212111356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile8FinalProject</string>
	<key>PROJECT_ID</key>
	<string>mobile-4e919</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-4e919.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199212111356:ios:3893c49e4cd7119da78e79</string>
</dict>
</plist>